<div class="filters">
  <div class="filters-fix">
    <div class="filters-info">
      <p>Фильтры</p>
    </div>
    <select id="filters-country" class="filters-select">
      <option>uk</option>
      <option>br</option>
      <option>fr</option>
    </select>

    <input id="filters-sity" class="filters-select" type="text" placeholder="Название города" value="london">
    <button id="search-real" class="search-real">Найти</button>
  </div>
</div>
