<div class="filters">
  <div class="filters-fix">
    <div class="filters-info">
      <h3>Фильтры</h3>
    </div>
    <select id="filters-country" class="filters-select">
      <option>Англия</option>
      <option>Россия</option>
    </select>

    <input id="filters-sity" class="filters-select" type="text" placeholder="Название города">
    <button id="search-real" class="search-real">Найти</button>
  </div>
</div>
