<div id="modal-info" class="modal-info">
  <div id="close-modal-info" class="close-modal">Х</div>
  <div class="main-area">
    <img id="modal-info-img" class="modal-info-img" src="https://imgs.nestimg.com/3_bedroom_flat_for_sale_112002418325401464.jpg" alt="">
    <h2 id="modal-info-description" class="description">A 3 bedroom, 2 bathroom apartment that has recently been refurbishe...</h2>
    <a id="modal-info-url" href="#">Перейти</a>
    <div class="modal-info-panel">
      <div class="">
        <span>Цена: <span id="modal-info-price">£1,595,000</span></span>
      </div>
      <button id="in-basket">В карзину</button>
    </div>
  </div>
</div>
