<div id="modal-info" class="modal-info">
  <div id="close-modal-info" class="close-modal"></div>
  <div class="main-area">
    <img id="modal-info-img" class="modal-info-img" src="https://imgs.nestimg.com/3_bedroom_flat_for_sale_112002418325401464.jpg" alt="">
    <h1 id="modal-info-title">Заголовко</h1>
    <h4 id="modal-info-description" class="description">A 3 bedroom, 2 bathroom apartment that has recently been refurbishe...</h4>
    <a id="modal-info-url" href="#">Перейти</a>
    <div class="modal-info-panel">
      <div class="">
        <p><span>Цена: <span id="modal-info-price">£1,595,000</span></span></p>
        <p><span>Спальни: <span id="modal-info-bedroom">2</span></p>
        <p><span>Ванные: <span id="modal-info-bathroom">2</span></p>
        <p><span>Ключевые слова: <span id="modal-info-keywords">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
      </div>
    </div>
  </div>
  <button id="in-basket">В карзину</button>
</div>
