<div class="pagination">
  <div id="paginated" class="pages disabled">
    <a id="previous-page" href="#">< </a>
    <span id="present-page">1</span>
    <a id="next-page" href="#"> ></a>
  </div>
  <div class="pages">
    <span id="show-more" href="#">Показать больше</span>
  </div>
</div>
