<div class="pagination">
  <div id="paginated" class="pages">
    <a id="previous-page" href="#">< </a>
    <a id="present-page" href="#">1</a>
    <a id="next-page" href="#"> ></a>
  </div>
  <div class="pages">
    <a id="show-more" href="#">Показать больше</a>
  </div>
</div>
