<div class="real">
  <div id="offers" class="offers">
    <div id="123" class="offer">
      <div class="thumb"></div>
      <div class="description">Какой-то дом</div>
      <div class="address">В каком-то городе</div>
      <div class="price">340.0000$</div>
      <div class="lister_url">
        <a href="#">url</a>
      </div>
    </div>
  </div>
</div>
