// .container
// .content

@import "mixins.scss";

@import "header.scss";
@import "filters.scss";
@import "real.scss";
@import "footer.scss";
@import "modalBasket.scss";
@import "modalInfo.scss";
@import "pagination.scss";

body {
  padding: 0;
  margin: 0;
}


// ОБЩИЕ СТИЛИ
.content {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 2vw
}

.container {
  margin: 0 auto;
  width: 1024px;
}

.show-more {
  height: 300px;
  overflow: hidden;
}

// Включение и выключение modalInfo
.disabled {
  opacity: 0;
  display: none;
}

.modal-active {
  display: block;
}

// Включение и выключение modalInfo конец
